<a href="https://colab.research.google.com/github/jeevanck76/WEATHER-PREDICTION/blob/main/Copy_of_project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("/content/seattle-weather (1).csv")
df

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1461 non-null   object
 1   precipitation  1461 non-null   float64
 2   temp_max       1461 non-null   float64
 3   temp_min       1461 non-null   float64
 4   wind           1461 non-null   float64
 5   weather        1461 non-null   object
dtypes: float64(4), object(2)
memory usage: 68.6+ KB

In [ ]:
x = df.iloc[:,1:5].values
x

array([[ 0. , 12.8,  5. ,  4.7],
       [10.9, 10.6,  2.8,  4.5],
       [ 0.8, 11.7,  7.2,  2.3],
       ...,
       [ 0. ,  7.2,  0.6,  2.6],
       [ 0. ,  5.6, -1. ,  3.4],
       [ 0. ,  5.6, -2.1,  3.5]])

In [ ]:
y=df.iloc[:,5].values
y

array(['drizzle', 'rain', 'rain', ..., 'fog', 'sun', 'sun'], dtype=object)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
y_pred = model.predict(x_test)
y_pred

array(['sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'rain', 'sun',
       'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain',
       'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun',
       'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'rain',
       'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain', 'sun',
       'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain',
       'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain', 'rain',
       'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun',
       'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain',
       'sun', 'sun', 'rain', 'sun', 'rain', 'snow', 'sun', 'sun', 'sun',
       'sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'rain',
       'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun',
       'sun', 'rain', 'rain', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun',
       'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain',
       'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun',
       'sun', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'sun',
       'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun',
       'rain', 'sun', 'rain', 'rain', 'sun', 'rain', 'rain', 'rain',
       'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun',
       'sun', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun',
       'rain', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun',
       'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain',
       'rain', 'sun', 'sun', 'rain', 'snow', 'rain', 'rain', 'rain',
       'sun', 'sun', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun',
       'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain',
       'rain', 'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'rain',
       'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'sun',
       'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'sun', 'sun',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun',
       'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun',
       'sun', 'sun', 'rain', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun',
       'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain',
       'sun', 'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun',
       'sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'sun', 'rain', 'sun',
       'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'rain', 'sun',
       'rain', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'rain',
       'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun',
       'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'sun', 'rain',
       'rain', 'sun'], dtype=object)

In [ ]:
y_test

array(['sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'rain', 'fog',
       'rain', 'sun', 'rain', 'fog', 'sun', 'sun', 'sun', 'sun', 'rain',
       'rain', 'rain', 'rain', 'rain', 'rain', 'sun', 'sun', 'fog', 'fog',
       'rain', 'fog', 'sun', 'rain', 'sun', 'rain', 'rain', 'sun', 'rain',
       'sun', 'rain', 'fog', 'rain', 'drizzle', 'rain', 'rain', 'rain',
       'drizzle', 'fog', 'fog', 'rain', 'sun', 'sun', 'sun', 'sun', 'sun',
       'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun', 'fog',
       'sun', 'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain',
       'rain', 'rain', 'sun', 'fog', 'sun', 'sun', 'sun', 'rain', 'rain',
       'fog', 'sun', 'rain', 'rain', 'rain', 'sun', 'fog', 'rain', 'sun',
       'rain', 'sun', 'drizzle', 'rain', 'sun', 'rain', 'snow', 'sun',
       'sun', 'sun', 'rain', 'rain', 'rain', 'rain', 'rain', 'snow',
       'drizzle', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain',
       'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'rain', 'rain', 'rain',
       'rain', 'sun', 'rain', 'rain', 'sun', 'drizzle', 'sun', 'rain',
       'rain', 'rain', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun',
       'sun', 'rain', 'rain', 'sun', 'sun', 'sun', 'rain', 'rain', 'sun',
       'drizzle', 'sun', 'rain', 'fog', 'sun', 'rain', 'sun', 'rain',
       'sun', 'sun', 'rain', 'fog', 'sun', 'sun', 'rain', 'sun', 'rain',
       'rain', 'sun', 'rain', 'rain', 'rain', 'fog', 'fog', 'sun', 'sun',
       'rain', 'rain', 'fog', 'sun', 'sun', 'sun', 'sun', 'sun', 'rain',
       'rain', 'rain', 'sun', 'sun', 'fog', 'rain', 'sun', 'sun', 'sun',
       'fog', 'drizzle', 'rain', 'rain', 'sun', 'fog', 'sun', 'drizzle',
       'snow', 'sun', 'sun', 'sun', 'rain', 'rain', 'rain', 'fog', 'sun',
       'sun', 'snow', 'rain', 'rain', 'rain', 'sun', 'fog', 'fog', 'rain',
       'rain', 'rain', 'drizzle', 'sun', 'sun', 'rain', 'fog', 'sun',
       'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'rain', 'rain', 'rain',
       'sun', 'rain', 'fog', 'rain', 'rain', 'rain', 'rain', 'sun',
       'rain', 'rain', 'sun', 'rain', 'fog', 'sun', 'fog', 'sun',
       'drizzle', 'rain', 'snow', 'sun', 'sun', 'sun', 'sun', 'sun',
       'sun', 'snow', 'sun', 'fog', 'sun', 'sun', 'rain', 'sun', 'rain',
       'sun', 'fog', 'sun', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain',
       'sun', 'rain', 'sun', 'rain', 'rain', 'rain', 'sun', 'sun', 'sun',
       'rain', 'rain', 'rain', 'sun', 'sun', 'rain', 'sun', 'rain', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun',
       'rain', 'sun', 'sun', 'rain', 'rain', 'drizzle', 'rain', 'fog',
       'rain', 'rain', 'sun', 'sun', 'rain', 'rain', 'rain', 'sun',
       'rain', 'sun', 'rain', 'rain', 'sun', 'sun', 'rain', 'rain',
       'rain', 'sun', 'sun', 'rain', 'sun', 'sun', 'rain', 'sun', 'sun',
       'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain', 'sun', 'sun',
       'rain', 'rain', 'sun', 'rain', 'sun', 'sun', 'sun', 'sun', 'rain',
       'sun', 'sun', 'rain', 'sun', 'sun', 'sun', 'rain', 'fog', 'rain',
       'rain', 'sun'], dtype=object)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)* 100

83.60655737704919

In [ ]:
import joblib
joblib.dump(model,'weather prediction')

['weather prediction']

In [ ]:
!pip install streamlit --quiet

In [ ]:
%%writefile app.py
#%%writefile app.py is a magic command which creates a file named app.py
import streamlit as st
import joblib
import numpy as np
model = joblib .load('weather prediction')
st.title('WEATHER PREDICTION')
st.write("this is a app to predict the weather condition in a certain region by getting details of the xweather")
ip1 = st.number_input('Enter the precipitation')
ip2 = st.number_input('Enter the temp_max')
ip3 = st.number_input('Enter the temp_min')
ip4 = st.number_input('Enter the wind')
ls1=np.append(ip1,ip2)
ls2=np.append(ip3,ip4)
ls=np.append(ls1,ls2)
op = model.predict([ls])
if st.button('Predict'):
  st.title(op[0])

Overwriting app.py

In [ ]:
!streamlit run app.py & npx localtunnel --port 8501

2022-07-10 06:35:24.510 INFO    numexpr.utils: NumExpr defaulting to 2 threads.
npx: installed 22 in 3.154s
your url is: https://sixty-zoos-listen-34-73-51-98.loca.lt

  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.2:8501
  External URL: http://34.73.51.98:8501